doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header 
      h1 #[a(href='/') Members-Only]
      nav 
        a(href='become-member') Become a Member
        a(href='/login') Login 
        a(href='/sign-up') Sign-Up 

    block content

    footer 
      span.signature B-Birdy 
      a(href='https://github.com/NummNuttzCDXX/members-only')
        img.gh-icon(src='/images/gh_icon_white.svg' alt='Source Link')
